APP_URL=https://lightskyblue-bat-697565.hostingersite.com
NEXT_PUBLIC_API_URL=https://lightskyblue-bat-697565.hostingersite.com/api

# MySQL Database (Hostinger)
DB_HOST=auth-db2121.hstgr.io
DB_USER=u128759105_Marcuscatia
DB_PASSWORD=Caboverde238cv@.
DB_NAME=u128759105_Catia
